body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas:"header"
                        "nav"
                        "main"
                        "footer";
    grid-template-rows: 2fr 1fr 12fr 2fr;
}

header,main,nav,footer {
    display: grid;
    align-items: center;
    justify-items: center;
}

header {
    background-color: lightcoral;
    grid-area: header;
}
main {
    background-color: lightgreen;
    grid-area: main;
}
nav {
    background-color: lightpink;
    grid-area: nav;
}
footer {
    background-color: lightskyblue;
    grid-area: footer;
}

