body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas:"header righty"
                        "nav righty"
                        "main righty"
                        "footer righty";
    grid-template-rows: 2fr 1fr 12fr 2fr;
    grid-template-columns: 3fr 1fr;
}

header,main,nav,aside,footer {
    display: grid;
    align-items: center;
    justify-items: center;
}

header {
    background-color: lightcoral;
    grid-area: header;
}
main {
    background-color: lightgreen;
    grid-area: main;
}
nav {
    background-color: lightpink;
    grid-area: nav;
}
aside.left {
    background-color: lightsalmon;
    grid-area: lefty;
}
aside.right {
    background-color: lightsalmon;
    grid-area: righty;
}
footer {
    background-color: lightskyblue;
    grid-area: footer;
}

